{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}

<body class="index">

<a class="accueil" href="{{path('producth')}}">
<h1>
FootStock.fr
</h1></a>

<section>

<div class="container">


//affichage du formualaire

{{form_start(form)}}


<div class="form-group">

<h5>
{{form_label(form.nom, 'Nom') }}
{{form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
</h5>

</div>

<br>



<div class="form-group"><h5>{{form_row(form.marque, {'attr':{'class':'form-control'}}) }}</h5></div><br>
<div class="form-group"><h5>{{form_row(form.prix, {'attr':{'class':'form-control'}}) }}</h5></div><br>
<div class="form-group"><h5>{{form_row(form.description, {'attr':{'class':'form-control'}}) }}</h5></div><br>



<div class="form-group">

<h5>
{{form_label(form.quantite, 'Quantité') }}
{{form_widget(form.quantite, {'attr':{'class':'form-control'}}) }}
</h5>

</div>










<div class="form-group"><h5>{{form_row(form.prix, {'attr':{'class':'form-control'}}) }}</h5></div> <br>


<button type="submit button" class="btn btn-light">Ajouter</button>
{{form_end(form)}}
</div>
</section>
</body>
{% endblock %}
