{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
<header>
<a class="accueil" href="{{path('producth')}}">
<h1>
FootStock.fr
</h1></a>
</header>
<h4>
<div class="container choix2">
{{product.nom}} 
<br><br>

Description : <br><br>
{{product.description}} 
<br><br>
Prix : {{product.prix}} €
<br><br>
Marque : {{product.marque}}
<br><br>
Quantité : {{product.quantite}}
<br><br>


</div>
</h4>
<br>
<br>
{% endblock %}
